<div *ngIf="(user$ | async) as user" class="gradient_bg pt-6 md:pt-8 xl:pt-12">
    <div class="mx-auto container px-6">
        <div class="xl:flex items-center flex-wrap">
            <div class="xl:w-3/4 2xl:w-4/5"></div>
            <div class="xl:w-1/4 2xl:w-1/5 flex flex-col items-center xl:pl-8 py-16 md:py-12">
                <div class="w-full flex items-center justify-center">
                    <div class="flex flex-col items-center">
                        <img class="h-20 w-20 rounded-full" [src]="user.avatar_url" alt="avatar" role="img" />
                        <p class="mt-2 text-xs sm:text-sm md:text-base font-semibold text-center text-white">Christoph Hu</p>
                    </div>
                </div>
                <div class="flex items-center mt-7">
                    <div class="">
                        <p class="text-xs text-gray-300">Public Repository</p>
                        <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">{{ user.public_repos}}</p>
                    </div>
                    <div class="ml-12">
                        <p class="text-xs text-gray-300">Followers</p>
                        <p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl text-gray-50">{{ user.followers}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="px-4 xl:px-0">
    <div class="mx-auto container">
        <div class="xl:flex">
            <div class="xl:w-3/4 2xl:w-4/5 -mt-8 xl:-mt-64">
                <div class="pl-4 md:pl-10 py-4 md:py-7 bg-secondary rounded-tl-lg rounded-tr-lg shadow">
                    <span class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-darker">ngx-resizeable</span>
                </div>
                <div class="h-48 p-4 bg-tertiary shadow-lg text-dark">
                    <p>Drag and pull the edges of the rectangle</p>
                    <div class="relative flex h-32 w-32 m-auto gradient_bg box-border rounded" [ngStyle]="style" Resizeable [validateResize]="validate" [enableGhostResize]="true" [resizeSnapGrid]="{ left: 50, right: 50 }" (resizeEnd)="onResizeEnd($event)">
                        <div class="absolute h-1 w-full top-0 cursor-row-resize" Resize [resizeEdges]="{ top: true }"></div>
                        <div class="absolute h-full w-1 left-0 cursor-col-resize" Resize [resizeEdges]="{ left: true }"></div>
                        <div class="absolute h-full w-1 right-0 cursor-col-resize" Resize [resizeEdges]="{ right: true }"></div>
                        <div class="absolute h-1 w-full bottom-0 cursor-row-resize" Resize [resizeEdges]="{ bottom: true }"></div>
                    </div>
                </div>
            </div>
            <div class="xl:w-1/4 2xl:w-1/5 pt-7 xl:pl-8 pb-7">
                <div>
                    <p class="text-base font-semibold text-gray-800">Recent Updates</p>
                    <div class="mt-4">
                        <div class="flex my-2 bg-tertiary border border-gray-400 h-16 border-dashed shadow items-center w-full justify-between rounded" *ngFor="let repo of (topEvents$ | async)">
                            <span>{{ repo }}</span>
                        </div>
                        <!-- <div class="flex mt-4 bg-gray-100 border border-gray-400 h-16 border-dashed shadow items-center w-full justify-between rounded">
                            
                        </div>
                        <div class="flex mt-4 bg-gray-100 border border-gray-400 h-16 border-dashed shadow items-center w-full justify-between rounded">
                            
                        </div>
                        <div class="flex mt-4 bg-gray-100 border border-gray-400 h-16 border-dashed shadow items-center w-full justify-between rounded">
                            
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>